<app-tools></app-tools>
<div class="card-columns">
    <div class="card">
        <img class="card-img-top img-thumbnail"
         src="http://localhost:8000/media/bookCovers/animal-farm.jpg" alt="">
        <div class="card-body">
            <div class="card-text">
                <p><b>Animal Farm ~ &#8377; 125.00</b></p>
                <p>Written by: George Orwell</p>
                <p>Genre: satire</p>
                <p>Pages : 88</p>
                <p>Language : English</p>
                <p>First Published : 17 Aug 1945</p>
            </div>
        </div>
        <a class="btn btn-sm btn-block btn-secondary" href="#">Read Online</a>
  </div>
</div>
