<div class="container-fluid sticky-top bg-light">
    <div class="container" style="max-width: 40rem">
      <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" id="logo">Bibliotheca</a>
          <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" 
	       [ngClass]="{'show': navbarOpen }">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a routerLink="/home"  routerLinkActive="active" class="nav-link">home</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/books"  routerLinkActive="active" class="nav-link">books</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/authors"  routerLinkActive="active" class="nav-link">authors</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/genres"  routerLinkActive="active" class="nav-link">genres</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/about"  routerLinkActive="active" class="nav-link">about</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/admin"  routerLinkActive="active" class="nav-link">@</a>
                </li>
              </ul>
          </div>
      </nav>

    </div>
</div>
<div class="container mt-3" style="max-width: 60rem">
    <router-outlet>
    </router-outlet>
</div>
<footer class="page-footer" style="margin-top: 20rem; height: 3rem">
   <div class="footer-copyright text-center bg-light py-3">
       <a class="links"> &copy; Bibliotheca 2019</a>
   </div>
</footer>
