<div class="container-fluid">
  <nav class="nav d-flex justify-content-center">
    <li class="nav-item">
      <a routerLink="/admin/add-a-book" routerLinkActive="active"
       class="btn btn-sm btn-secondary mr-1">+ Book</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/add-an-author" routerLinkActive="active"
      class="btn btn-sm btn-secondary mr-1">+ Author</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/add-a-genre" routerLinkActive="active"
      class="btn btn-sm btn-secondary">+ Genre</a>
    </li>
  </nav>
<hr>
<router-outlet>
</router-outlet>
</div>
