<div class="container-fluid">
  <nav class="nav nav-pills d-flex justify-content-center">
    <li class="nav-item">
      <a routerLink="/admin/add-a-book" routerLinkActive="active" class="nav-link">Add Book</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/add-an-author" routerLinkActive="active" class="nav-link">Add Author</a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/add-a-genre" routerLinkActive="active" class="nav-link">Add Genre</a>
    </li>
  </nav>
<hr>
<router-outlet>
</router-outlet>
</div>
