<div class="row justify-content-between mb-3">
	<div class="col-sm-3 mb-1">
		<div class="input-group">
		  <select class="custom-select" id="inputGroupSelect01">
		    <option value="1">A-Z</option>
		    <option value="2">Z-A</option>
		    <option value="3">Latest</option>
		  </select>
		  <div class="input-group-append">
		    <label class="input-group-text" for="inputGroupSelect01">Filter</label>
		  </div>
		</div>
	</div>
	<div class="col-sm-9">
		<form class="form input-group" >
        	<input class="form-control" type="text" name="q" placeholder="" value="">
        	<div class="input-group-append">
          		<button class=" input-group btn btn-outline-dark" type="submit">Search</button>
        	</div>
    	</form>
	</div>
</div>
<hr>
