<div class="container">
  <form [formGroup]="addAuthor" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6">
        <label>First Name</label>
        <input
           type="text"
           class="form-control form-control-sm"
           formControlName="firstName"/>

      </div>
      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input
           type="text"
           formControlName="lastName"
           class="form-control form-control-sm"/>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label>Date of Birth</label>
        <input
          type="text"
          formControlName="dob"
          class="form-control form-control-sm"/>
      </div>
      <div class="form-group col-md-6">
        <label>Place</label>
        <input
          type="text"
          formControlName="place"
          class="form-control form-control-sm"/>
      </div>
    </div>
    <div class="custom-file">
      <input
        type="file"
        formControlName="avatar"
        class="custom-file-input form-control-sm"/>
      <label class="custom-file-label" for="authorAvatar">Choose file...</label>
    </div>
    <hr>
    <button type="submit" class="btn btn-sm btn-block btn-secondary">Sumbit</button>
  </form>
</div>
