<div class="container">
  <form>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control form-control-sm" placeholder="George" id="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control form-control-sm" placeholder="Orwell" id="firstName">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="dob">Date of Birth</label>
        <input type="text" class="form-control form-control-sm" placeholder="26th June, 1903" id="dob">
      </div>
      <div class="form-group col-md-6">
        <label for="place">Place</label>
        <input type="text" class="form-control form-control-sm" placeholder="England, UK" id="place">
      </div>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input form-control-sm" id="authorAvatar" required>
      <label class="custom-file-label" for="authorAvatar">Choose file...</label>
    </div>
    <hr>
    <button type="submit" class="btn btn-sm btn-block btn-secondary">Sumbit</button>
  </form>
</div>
